@font-face {
    font-family: Pin Sans;
    src: url(fonts/Pin-Sans.woff2);
}

/* ROOT STYLING */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Pin Sans";
}

:root {
    --clr-main: #121214;
    --clr-outline: #313136;
    --clr-accent: #7B7C84;
    --clr-icon: #94959C;
    --clr-dark: #17171B;
    --clr-light: #E1e1e1;
    --clr-border: #dddddd2c
}



/* CONTENT STYLING */

body { 
    background-color: var(--clr-main);
    min-height: 100vh;
    display: grid;
    width: 100%;
    grid-template-columns: 72px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
    "nav header"
    "nav main";
}

/* HEADER */

header {
    top: 0;
    position: sticky;
    display: flex;
    align-items: center;
    background-color: var(--clr-main);
    padding: 0 16px;
    z-index: 100;
}

.header {
    display: flex;
    align-items: center;
    grid-area: header;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    width: 100%;
    height: 56px;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 8px;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: var(--clr-main);
    border: solid 1px var(--clr-border);
    width: 100%;
    height: 100%;
    border-radius: 12px;
    padding: 0 0px 0 16px;
}

.search-box:hover {
     background-color: var(--clr-dark);
     border-color: var(--clr-accent);
}

.search {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.search-icon {
    margin-right: 8px;
}

input {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    color: #6E6E6E;
    font-size: 16px;
    outline: none;
}

input, .search, .search-box {
    transition: 0.3s;
}

input:focus, input:active {
    color: #E1E1E1;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 20px;
    transition: 0.3s;
}

.pfp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 50px
}

.account-container {
    border-radius: 8px;
    transition: 0.3s
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    transition: 0.3s;
}


/* HOVER EFFECTS */

.account:hover, .profile:hover, .icon-hover:hover {
    cursor: pointer;
}

.nav-icon:hover, .icon-hover:hover, .nav-settings:hover {
    fill: var(--clr-light);
    .acc {
        background-color: transparent;
    }
}

.profile:hover, .account:hover, .nav-icon:hover, .icon-hover:hover {
    background-color: #DDDDDD11 ;
}


/* NAV ICONS*/

nav {
    grid-area: nav;
    top: 0;
    height: 100vh;
    width: 72px;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-right: solid 1px var(--clr-border);
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
    top: 16px;
    position: fixed;
}

.nav-settings {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-bottom: 16px;
    justify-content: flex-end;
}

.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    transition: 0.3s;
    border-radius: 16px;
}


/* MAIN */

main {
    grid-area: main;
    width: 100%;
}

.content-container {
    columns: 240px;
    padding: 8px 24px;
    width: 100%;
}

.image {
    border-radius: 15px;
    background-color: red;
    margin-bottom: 8px;
    width: 100%;
    opacity: 0.5;
    transition: 0.25s;
}

.image:hover {
    cursor: pointer;
    opacity: 1;
}


/* ICONS STYLE */


.icon {
    fill: var(--clr-icon);
}
